* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #9c9999;
  margin: 5px;
}

.title {
  color: #fff;
  font-weight: normal;
  text-align: center;
}

.app {
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
}

.form {
  display: grid;
  gap: 10px;
}

.form__text, .form__date, .form__time {
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
  background: none;
  background-color: #fff;
}

.form__text {
  padding-left: 15px;
}

.form__date, .form__time {
  text-align: center;
}

.form__colors {
  display: flex;
  justify-content: space-evenly;
}

.form__datetime {
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form__button {
  justify-self: center;
  background-color: rgb(1, 164, 175);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 1em;
  padding: 10px;
  min-width: 50%;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  transition: transform .1s;
}

.form__button:active {
  transform: scale(.9);
}

.form__radio {
  width: 3rem;
  height: 3rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .2s;
}

.form__radio:active {
  transform: scale(0.8);
}

.form__radio:checked {
  border: 2px solid rgb(255, 255, 255);
}

.task {
  display: grid;
  grid-template-columns: 1fr 90px 50px;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 10px;
  min-height: 40px;
  padding: 3vmin 15px;
}

.task p {
  margin-top: 0;
  margin-bottom: 0;
} 

.task__text {
  font-size: 1em;
  border-radius: 15px;
}

.task__datetime {
  justify-self: center;
  font-size: small;
}

.delete-task {
  justify-self: center;
  width: 30px;
  height: 30px;
  background-image: url(../assets/delete.png);
  background-size: contain;
  cursor: pointer;
}

.firstcolor {
  background-image:
  linear-gradient(90deg, hsla(152, 100%, 50%, .5) 0%, hsla(186, 100%, 69%, .5) 100%),
  url(../assets/double-bubble-dark.png);
}

.secondcolor {
  background-image:
  linear-gradient(90deg, hsla(217, 100%, 50%, .5) 0%, hsla(186, 100%, 69%, .5) 100%),
  url(../assets/double-bubble-dark.png);
}

.thirdcolor {
  background-image:
  linear-gradient(90deg, hsla(10, 82%, 65%, .5) 0%, hsla(290, 79%, 13%, .5) 100%),
  url(../assets/double-bubble-dark.png);
}